#photo-upload{
    display: none;
}

textarea{
    font-size: 25px;
    padding: 10px;
    width: 110px;
    min-height: 110px;
    border: none;
    outline: none;
}

#post-preview{
    text-align: right;
    margin-top: 15px;
}

#post-preview-image{
    object-fit: cover;
    object-position: center;
    width: 80px;
    height: 70px;
    border-radius: 8px;
    border: 1px dotted orange;
}
