<mat-card>
    <mat-card-header>
        <mat-card-title>Create Post</mat-card-title>
    </mat-card-header>
    <div>
        <textarea #commentInput placeholder="enter caption"></textarea>
    </div>
    <div id="post-preview">
        <img id="post-preview-image">

    </div>
    <mat-card-actions align="end">
        <button mat-button color="warn">
            <label>
                <input #photoSelector (change)="onPhotoSelected(
                    photoSelector
                )" id="photo-upload" type="file" accept="image/*">
                <mat-icon>insert_photo</mat-icon>
            </label>
        </button>
        <button (click)="onPostClick(
            commentInput
        )" mat-flat-button color="warn">
            Post
        </button>
    </mat-card-actions>
</mat-card>


<div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="formFile" class="form-label">Upload file example</label>
          <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
          <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
        </div>
      </div>
    </div>
   </div>


