<h3>Image Uploading Module</h3>

<textarea #commentInput maxlength="200" placeholder="enter caption"></textarea>

<div>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" *ngIf="imgURL">
</div>

<input type="button" (click)="onUpload(commentInput)" value="upload">

<hr />

<div *ngIf="convertedImage!=null">
    Image uploaded
</div>
<!--
    Received Image:

    {{ receivedImageData['pic'] | json}}
    <img id="uploaded-img"[src]="convertedImage">
-->