#post-button{
    position: fixed;
    bottom: 25px;
    right: 25px;
}

#post-feed{
    max-width: 500px;
    margin-top: 145px;
    margin-bottom: 145px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

mat-paginator{
    position: fixed;
    top: 70px;
    right: 0px;
    z-index: 0;
}