<app-menu></app-menu>


<mat-paginator  (page)="onPageChange($event)" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
</mat-paginator>


<div id="post-feed">
    <app-displayimages *ngFor="let p of images2, let i=index;" [imageData]="p"></app-displayimages>
</div>


<h1>{{message}}</h1>
<h1>{{username}}</h1>
<mat-paginator  (page)="onPageChange($event)" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
</mat-paginator>
<!--
<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">
    </div>
</div>
-->
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <h1>{{imageName}}</h1>
            <img [src]="retrievedImage">
        </div>
    </div>
</div>

<button *ngIf="username != ''" (click)="onCreatePostClick()" mat-fab color="warn" id="post-button">
    <mat-icon>add</mat-icon>
</button>