#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-left: 200px;
    margin-right: 200px;
}
#nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 50px;
    border-radius: 15px;
    gap: 10px;
    box-shadow: 5px 5px lightgray;
}