<app-menu></app-menu>

<div id="nav">
    <div id="nav-buttons">
        <a href="/admin/users"><button mat-flat-button color="warn" >Manage Users</button></a>
        <a href="/admin/posts"><button mat-flat-button color="warn" >Manage Posts</button></a>
    </div>
</div>