#profile{
    position: fixed;
    height: 100vh;
    background-color: blueviolet;
    top: 50px;
    right:0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition-duration: .6s ease;
}

#profile-content{
    width: 100%;
    max-width: 300px;
    padding: 30px;
}

input, textarea{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid grey;
}

.active{
    width: 100vw;
}

.idle{
    width: 0;
}