<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Password Reset Success</title>
	</head>
	<body>
		<center>
      <span th:text="${message}"></span> <br/><br/><br/>
      <a href="http://localhost:4200/home">Login</a>
		</center>
	</body>
</html>
