<header id="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="/hello-world" class="navbar-brand">The Social Media</a></div>

        <ul class="navbar-nav navbar-collapse justify-content-start">
            <!-- <li>
                <a *ngIf="isLoggedIn" class="nav-link" href="/hello-world">Postfeed</a>
            </li>  -->
            <li>
                <a *ngIf="isLoggedIn && username == 'Admin'" class="nav-link" href="/admin/users" >Manage Users</a>
            </li>
            <li>
                <a *ngIf="isLoggedIn && username == 'Admin'" class="nav-link" href="/admin/posts" >Manage Posts</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li>
                <p *ngIf="isLoggedIn" class="nav-link" id="welcome-user">Welcome {{username}}</p>
            </li> 
            <li>
                <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
            </li>
        </ul>
    </nav>
  </header>