<app-menu></app-menu>


<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Filename</th>
          <th scope="col">Image</th>
          <th scope="col">Caption</th>
          <th scope="col">Type</th>
          <th scope="col">Posted By</th>
          <th scope="col">Likes</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let image of images">
            <td>{{ image.id }}</td>
            <td>{{ image.name.slice(0,-4)}}</td>
            <td>
              <img *ngIf=" image.type !== 'video/mp4' " id="table-image"src="data:image/jpeg;base64,{{ image.pic}}">
              <video *ngIf=" image.type === 'video/mp4' " id="table-image" src="data:video/mp4;base64,{{image.pic}}"></video>
            </td>
            <td>{{ image.caption}}</td>
            <td>{{ image.type}}</td>
            <td>{{ image.username}}</td> 
            <td>{{ image.click}}</td> 
            <td id="edit-column">
              <button mat-flat-button color="warn" (click)="onDeleteClick(image.id)">Delete</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>