.action-item {
    margin-left: 25px;
    cursor: pointer;
}

img {
    width: 100%;
    cursor: pointer;
    margin-left: 2px;
}

#post {
    margin-bottom: 45px;
}

#post-caption-textarea{
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

#post-caption{
    font-weight: bold;
    font-size: 20px;
}

#post-name-textarea{
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 35px;
}

#post-name{
    font-weight: bold;
    font-size: 35px;
}

::placeholder{
    color: black;
}

input{
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}


@keyframes like-heart-animation {

    0%,
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    15% {
        opacity: 0.9;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    30% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    45%,
    80% {
        opacity: 0.9;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}