<mat-card id="post">
    <mat-card-header>
        <mat-card-title>
            <input type="text" id="post-name-textarea" [(ngModel)]="name" *ngIf="imageData?.username === username"
            name="name" placeholder="{{imageData?.name}}">

            <h1 id="post-name" *ngIf="imageData?.username !== username">{{imageData?.name}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            Posted by: {{imageData?.username}}<br>
            {{imageData?.currentdate}}
        </mat-card-subtitle>
    </mat-card-header>
    <img *ngIf=" imageData?.type !== 'video/mp4' " mat-card-image src="data:image/jpeg;base64,{{imageData?.pic}}"
        alt="Not found" (dblclick)="onLikeClick(imageData?.id,null)">

    <video *ngIf=" imageData?.type === 'video/mp4' " src="data:video/mp4;base64,{{imageData?.pic}}" controls></video>

    <mat-card-content>
        <input type="text" id="post-caption-textarea" [(ngModel)]="caption" *ngIf="imageData?.username === username"
            name="caption" placeholder="{{imageData?.caption}}">
        <h2 id="post-caption" *ngIf="imageData?.username !== username">
            {{imageData?.caption}}</h2>
        <h4>Clicks: {{imageData?.click}}</h4>
    </mat-card-content>
    <mat-card-actions>
        <mat-icon class="action-item" color="warn" (click)="onLikeClick(imageData?.id,null)">favorite_border</mat-icon>

        <mat-icon *ngIf="imageData?.username === username" class="action-item" color="warn"
            (click)="onCreatePostClick(imageData?.id,null)">edit</mat-icon>

        <a *ngIf="validURL(imageData?.caption) && !(imageData?.caption).includes('https')" href="//{{imageData?.caption}}" target="_blank">
            <mat-icon class="action-item" color="warn" (click)="validURL(imageData?.caption)">open_in_new</mat-icon>
        </a>

        <a *ngIf="validURL(imageData?.caption) && (imageData?.caption).includes('https')" href="{{imageData?.caption}}" target="_blank">
            <mat-icon class="action-item" color="warn" (click)="validURL(imageData?.caption)">open_in_new</mat-icon>
        </a>

        <mat-icon *ngIf="imageData?.username === username || username === 'Admin'" class="action-item" color="warn"
            (click)="onDeleteClick(imageData?.id)">delete</mat-icon>
    </mat-card-actions>

</mat-card>