<div id="authenticator">

    <mat-card id="authenticator-content">
        <mat-card-header>
            <mat-card-title>
                {{getStateText()}}
            </mat-card-title>
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>

        </mat-card-header>
        <!-- Reset password -->
        <div *ngIf="forgotFlag === true">
            <input #resetEmail placeholder="Email">
            <button mat-flat-button color="warn" (click)="onReset(
                resetEmail    
            )">Reset password</button>
            <button mat-flat-button color="warn" (click)="ViolatorLink()">Reset password</button>
        </div>

        <!-- Register -->
        <div *ngIf="createFlag === true">
            <!--
            <input #registerEmail placeholder="Email">
            <input #registerPassword placeholder="Password" type="password">
            <input #registerConfirmPassword placeholder="Re-enter Password" type="password">
            <button mat-flat-button color="warn" (click)="onRegisterClick(
                registerEmail,
                registerPassword,
                registerConfirmPassword
            )">Create account</button>
            -->
            <form #addform="ngForm" (submit)="addforms(addform)">
                <input type="text" placeholder="Firstname" [(ngModel)]="firstname" name="firstname" required
                    minlength="3">
                <input type="text" placeholder="Lastname" [(ngModel)]="lastname" name="lastname" required minlength="3">
                <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
                <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required>
                <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required
                    minlength="4">
                <button type="submit" mat-flat-button color="warn" [disabled]="!addform.valid">Register</button>
            </form>
        </div>

        <!-- Login -->
        <div *ngIf="isLoginState()">

            <!--
            <input #loginEmail placeholder="Email">
            <input #loginPassword placeholder="Password" type="password">
            <button mat-flat-button color="warn" (click)="onLogin(
                loginEmail,
                loginPassword
            )">Login</button>
            -->

            <div class="form-group">
                <input type="text" class="form-control" id="username" [(ngModel)]="username"
                    placeholder="Enter username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="password" id="password"
                    placeholder="Enter password" name="password">
            </div>
            <button mat-flat-button color="warn" (click)=handleLogin()>Login</button>
            <button mat-flat-button (click)="ViolatorLink()">Forgot password</button>

        </div>

        <mat-card-actions align="end">
        <!--
            <button mat-flat-button (click)="forgotPw()">Forgot password</button>
        -->
            <button mat-flat-button (click)="createUser()">Create an account</button>
            <button mat-flat-button (click)="login()">Already has an account?</button>
        </mat-card-actions>
    </mat-card>
</div>