#authenticator{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#authenticator-content{
    width: 100%;
    padding: 20px;
    outline: none;
}

button{
    margin: 10px;
}

input{
    width: 100%;
    padding:5px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid;
}