
<div id="home-page">
    <div id="home-page-sub">
        <div id="left">
            <div id="left-content">
                <h1 class="menu-text">Social Media App Platform</h1>
                <p class="menu-text">This is the project we are implimenting... Create it!</p>
                <button mat-raised-button color="warn" (click)="getStarted()">Get Started</button>
            </div>
        </div>
    </div>
</div>

