<app-menu></app-menu>


<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td><input [(ngModel)]="user.firstname" class="user-detail" type="text" value={{user.firstname}}
                #firstname="ngModel"></td>
            <td><input [(ngModel)]="user.lastname" class="user-detail" type="text" placeholder={{user.lastname}}
                #lastname="ngModel"></td>
            <td>{{ user.username}}</td>
            <td><input [(ngModel)]="user.email" class="user-detail" type="text" placeholder={{user.email}}
                #email="ngModel"></td>
            <td>{{ user.role}}</td>
            <td id="edit-column">
              <button mat-flat-button color="warn" (click)="onUpdateClick(user)">Update</button>
              <button *ngIf="user.role !== 'ADMIN'" mat-flat-button color="warn" (click)="onDeleteClick(user.id)">Delete</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<!--
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="name">Firstname</label>
        <input type="text" [(ngModel)]="user.firstname" class="form-control" id="firstname" name="firstname"
          placeholder="Enter your firstname" required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" [(ngModel)]="user.lastname" class="form-control" id="email" name="lastname"
          placeholder="Enter your lastname" required #lastname="ngModel">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" [(ngModel)]="user.lastname" class="form-control" id="email" name="lastname"
          placeholder="Enter your lastname" required #lastname="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email" class="form-control" id="email" name="email"
          placeholder="Enter your email address" required #email="ngModel">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
-->