<div id="post-feed">
    <app-displaypost *ngFor ="let p of post" [postData]="p"></app-displaypost>
</div>

<button (click)="onCreatePostClick()" mat-fab color="warn" id="post-button"><mat-icon>add</mat-icon></button>