<div id="nav">
    <div id="nav-content">
        <div id="nav-left">
            <div style="font-size:20px;" class="nav-items">Project</div>
        </div>
        <div id="nav-right">
            <div *ngIf="!loggedIn()" style="font-size:20px" class="nav-items" (click)="loginClick()">Login</div>
            <div *ngIf="loggedIn()" style="font-size:20px" class="nav-items" (click)="logoutClick()">Logout</div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!--
    <app-profile [show]="loggedIn()"></app-profile>
-->
