#nav{
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    opacity: 80%;
}


#nav-content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    height: 100%;
}

#nav-left{
    font-size: 18px;
    margin-left: 20px;
    height: 100%;
}

#nav-right{
    font-size: 18px;
    margin-right: 20px;
    height: 100%;
}

.nav-items{
    cursor: pointer;
}

